---
const { title, extraClasses } = Astro.props;
---

<div class:list={['w-full max-w-[65ch] p-4 text-xl', extraClasses]}>
  {title && <h3 class="font-semibold mb-4">{title}</h3>}
  <p>
    <slot />
  </p>
</div>
